.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 40px;
  background-color: black;
}

.content {
  display: flex;
  align-items: center;
}

.text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  text-transform: uppercase;
  color: #fbf3f3;
  margin-right: 15em;
  position: relative; /* Add position property for z-index to work */
  z-index: 2;
}

.text p {
  margin: 0;
}

.brandlogo {
  margin-right: 80px;
}

@media (max-width: 768px) {
  .brandlogo {
    margin-right: 20px;
  }

  .text {
    margin-right: 0;
  }
}

.gradient-background {
  position: absolute;
  left: 0.17%;
  right: 62.98%;
  top: 0%;
  bottom: 43.71%;
  background: linear-gradient(
      rgba(1, 183, 255, 0.5),
      rgba(1, 183, 255, 0.5)
    ),
    url('./ben-sweet-2LowviVHZ-E-unsplash 1.png');
  filter: blur(100px);
  z-index: 1;
}

.brandlogo img {
  width: 400px;
  height: auto;
}

.get-in-touch-button {
  background-color: #01b7ff;
  color: white;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  
 
}

.but {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.get-in-touch-button {
  align-self: flex-start;
  margin-left: 0;
}





